body {
    padding: 100px;
}

.amount-status {
    color: #fff;
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: tomato;
}

.balance {
    background-color: sandybrown;
}

/* Deposit area style */
.deposit-area {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.withdraw-area {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}